DB_DRIVER=postgres
DB_CONNECTION="postgres://user:pass@localhost:5432/dbname?sslmode=disable"
SERVER_PORT=8080

# "panic" / "fatal" / "error" / "warn" / "info" / "debug" / "trace"
LOG_LEVEL=info

ACCESS_TOKEN_KEY=youAccessTokenKey
REFRESH_TOKEN_KEY=youRefreshTokenKey
ACCESS_TOKEN_DURATION=0m
REFRESH_TOKEN_DURATION=0h

CLOUDINARY_CLOUD_NAME=yourCloudName
CLOUDINARY_API_KEY=yourApiKey
CLOUDINARY_API_SECRET=yourSecretKey
CLOUDINARY_UPLOAD_FOLDER=yourUploadFolder

PAGINATE_DEFAULT_PAGE=1
PAGINATE_DEFAULT_LIMIT=10
